<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.supersalud">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperSalud">
        <activity
            android:name=".Historiales"
            android:exported="false"
            android:label="@string/title_activity_historiales"
            android:parentActivityName=".Home"/>
        <activity
            android:name=".Pastillero"
            android:exported="false"
            android:label="@string/title_activity_pastillero"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Objetivos"
            android:exported="false"
            android:label="@string/title_activity_objetivos"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".AddPastilla"
            android:exported="false"
            android:label="@string/title_activity_addPastilla"
            android:parentActivityName=".Pastillero" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>